{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ansor Academy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="{% static '/css/course.css' %}"> -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
<section id="main" class="hero is-primary is-bold is-fullheight" style="background-image: linear-gradient(141deg, #300bd3 0, #326ea0 71%, #617674eb 100%);">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="{% url 'home' %}" class="navbarItem">
                        <img src="{% static 'images/1.png' %}" alt="Logo" style="width:13rem; height:auto;" >
                    </a>

                    <span class="navbar-burger burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{% url 'home' %}" class="navbar-item">Bosh sahifa</a>
                        <a href="#courses" class="navbar-item">Bizning kurslar</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <img src="{% static 'images/header.svg' %}" width="100%" alt="">
                </div>

                <div class="column is-5-desktop is-offset-1-desktop">
                    <h1 class="title is-1" style="color: yellow;">
                        Ansor Academy
                    </h1>

                    <h2 class="subtitle">
                        Sizning muvaffaqiyatingiz - bizning maqsadimiz!
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

{% block content %}
{% endblock %}
<footer class="section">
    <div class="content has-text-centered">
        <p>
            <strong><a href="/" class="has-text-dark">Ansor Academy</a></strong>
        </p>
    </div>
</footer>
</body>
</html>